{% extends "base.html" %}

{% block title %}Добавить материал{% endblock %}


{% block content %}
<div class="container-fluid">
    <h1>Добавить материал</h1>
    <label>Группа материала</label>
    <form method="POST" action="add_material_api" class="form-group">
        {% csrf_token %}
        <select name="material_group" class="form-control">
            {% for group in material_groups %}
                <option value="{{group.id}}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <label>Название потолка</label>
        <input name="celling_name" class="form-control" type="text" placeholder="Название">
        <label>Ширина полотна</label>
        <input name="celling_width" class="form-control" type="number" placeholder="Ширина полотна">
        <label>Количество на складе метр погонный</label>
        <input name="material_count" class="form-control" type="text" placeholder="Количество на складе метр погонный">
        <label>Стоймость материала м.кв</label>
        <input name="material_price" class="form-control" type="text" placeholder="Цена за м.кв" value="0.0">
        <input  class="btn btn-success pull-right" type="submit" value="Добавит материал" placeholder="Добавить материал">
    </form>
</div>
{% endblock %}
