{% extends "base.html" %}

{% block title %}Список Цветов{% endblock %}


{% block content %}
    <div class="container-fluid">
        <h1>Список цветов</h1>
        <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <table id="colors-table">
                <thead>
                    <td>id</td>
                    <td>Код</td>
                    <td>Действия</td>
                </thead>
                <tfoot>
                    <td>id</td>
                    <td>Код</td>
                    <td>Действия</td>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-3"></div>
        </div>
  </div>

{% endblock %}

{% block custom_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#colors-table').DataTable({
                ajax: '/get_colors_table',
                "order": [[ 0, "desc" ]],
                "lengthMenu": [[20,50, 100, 200, -1], [20,50, 100, 200, "All"]],
                "language": {
                    "lengthMenu": "_MENU_ записей на странице",
                    "zeroRecords": "0 строк нашли",
                    "info": "Показаны страницы _PAGE_ из _PAGES_",
                    "infoEmpty": "Строки не найдены",
                    "search":    "Поиск: ",
                    "infoFiltered": "(Отфильтрованный от _MAX_ Всего записей)",
                    "paginate": {
                        "first":      "Первый",
                        "last":       "Последний",
                        "next":       "Следующий",
                        "previous":   "Предыдуший"
                    },
                },
                responsive: true,
                "columns": [{
                    "data": 'id'
                }, {
                    "data": 'name'
                },{
                    'data' : function ( row, type, val, meta ) {
                        return "<button class='btn btn-sm btn-danger color-delete' data-num="+row.id+"><span class='glyphicon glyphicon-remove' style='padding:0px;'></span></button>"
                    }
                }]
            });
        });
    </script>
{% endblock %}