{% extends "base.html" %}

{% block title %}Загрузить файл{% endblock %}


{% block content %}
    <h1>Загрузить файл</h1>
    <form id="order_file_form">
        {% csrf_token %}
        <label class="btn btn-default">
            Выбрать<input type="file" name="file" hidden>
        </label>
        <div class="form-group" style="padding-top: 100px;">
            <button class="btn btn-default" id="send_file">Отправить файл</button>
        </div>
    </form>
    <div id="for_add_order_form">

    </div>
{% endblock %}