{% extends "base.html" %}

{% block title %}Список материалов{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1>Список материалов</h1>
        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table id="materials_table">
                <thead>
                    <td>id</td>
                    <td>Группа</td>
                    <td>Название</td>
                    <td>Ширина полотна</td>
                    <td>Базовая цена</td>
                    <td>Стоймость квадратного метра</td>
                    <td>Остаток</td>
                    <td>Действия</td>
                </thead>
                <tfoot>
                    <td>id</td>
                    <td>Группа</td>
                    <td>Название</td>
                    <td>Ширина полотна</td>
                    <td>Базовая цена</td>
                    <td>Стоймость квадратного метра</td>
                    <td>Остаток</td>
                    <td>Действия</td>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-2"></div>
        </div>

  </div>
<div class="modal fade bd-example-modal-sm" id="materials_edit_tmpl" tabindex="-1" role="dialog" aria-labelledby="materials_editModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <form method="POST" action="edit_material" class="form-group">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="materials_editModalLabel">Редактирование материала</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

        <input name="material_id" id="edit_material_id" type="hidden">
        <label>Название материала</label>
        <input name="material_name" class="form-control" type="text" placeholder="Название">
        <label>Ширина полотна</label>
        <input name="celling_width" class="form-control" type="text" placeholder="Ширина полотна">
        <label>Стоймость материала</label>
        <input name="material_price" class="form-control" type="text" placeholder="Стоймость материала">
        <label>Группа материала</label>
        <select class="form-control" name="material_group">
            {% for group in material_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <label>Количество на складе м.п.</label>
        <input name="count_meters_pagon" class="form-control" type="text" placeholder="Количество на складе">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <input type="submit" class="btn btn-primary" value="Сохранить" style="margin-top: 0">
          </div>
        </div>
        </div>
    </form>
  </div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#materials_table').DataTable({
                ajax: '/get_materials_json',
                "order": [[ 0, "desc" ]],
                "lengthMenu": [[20,50, 100, 200, -1], [20,50, 100, 200, "All"]],
                "language": {
                    "lengthMenu": "_MENU_ записей на странице",
                    "zeroRecords": "0 строк нашли",
                    "info": "Показаны страницы _PAGE_ из _PAGES_",
                    "infoEmpty": "Строки не найдены",
                    "search":    "Поиск: ",
                    "infoFiltered": "(Отфильтрованный от _MAX_ Всего записей)",
                    "paginate": {
                        "first":      "Первый",
                        "last":       "Последний",
                        "next":       "Следующий",
                        "previous":   "Предыдуший"
                    },
                },
                responsive: true,
                "columns": [{
                    "data": function(row,type,val,meta){
                        if(row.for_remove){
                            return '<span style="background-color: red">'+row.id+'</span>'
                        }else {
                            return row.id
                        }
                    }
                }, {
                    "data": function(row, type,val,meta){
                        return row.material_group.name
                    }
                },{
                    'data': 'name'
                },{
                    'data': 'celling_width'
                }, {
                    "data": function(row, type,val,meta){
                        return row.material_group.default_price
                    }
                }, {
                    "data": "price"
                },{
                    'data': 'count_meters_pagon'
                },{
                    'data' : function ( row, type, val, meta ) {
                        return "<button class='btn btn-sm btn-warning material-edit' data-num="+row.id+"><span class='glyphicon glyphicon-pencil' style='padding:0px;'></span></button>"+
                               "<button class='btn btn-sm btn-danger material-delete' data-num="+row.id+"><span class='glyphicon glyphicon-remove' style='padding:0px;'></span></button>"
                    }
                }]
            });
        });
    </script>
{% endblock %}