{% extends "base.html" %}

{% block title %}Добавить группу материалов{% endblock %}


{% block content %}
<div class="container-fluid">
    <h1>Добавить группу материалов</h1>
    <form method="POST" action="add_material_group" class="form-group">
        {% csrf_token %}
        <label>Название группы</label>
        <input name="material_group_name" class="form-control" type="text" placeholder="Название">
        <label>Базовая цена</label>
        <input name="default_price" class="form-control" type="number" placeholder="Базовая цена">
        <label>Доступные цвета</label>
        <select class="form-control" name="colors" multiple>
            {% for color in colors %}
                <option value="{{ color.id }}">{{ color.name }}</option>
            {% endfor %}
        </select>
        <input  class="btn btn-success pull-right" type="submit" placeholder="Добавить материал">
    </form>
</div>
{% endblock %}
